<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../../../static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../../static/bootstrap/css/bootstrap-responsive.min.css"/>
<link rel="stylesheet" type="text/css" href="../../../static/style/default.css" />
<script type="text/javascript" src="../../../static/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../static/jquery/jquery.placeholder.1.3.min.js"></script>
<script type="text/javascript">
$.Placeholder.init();
</script>
</head>

<body>
<div class="container">
	<div class="row">
    	<div class="offset2 span6">
        	<form class="form-vertical">
            	<div class="input-prepend">
                        <span class="add-on">项目名称</span>
                        <input class="span2" id="inputIcon" type="text" placeholder="请输入项目名称" />
                    </div>
                    <div class="input-prepend">
                        <span class="add-on">项目地址</span>
                        <input class="span2" id="inputIcon" type="text" placeholder="请输入项目地址" />
                    </div>
                    <div>
                    	<button class="btn btn-primary text-center">添加</button>
                    </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
