<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../../../static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../../static/bootstrap/css/bootstrap-responsive.min.css"/>
<link rel="stylesheet" type="text/css" href="../../../static/style/default.css" />
<script type="text/javascript" src="../../../static/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../static/jquery/jquery.placeholder.1.3.min.js"></script>
<script type="text/javascript">
$.Placeholder.init();
</script>
</head>

<body>
<div class="container">
	
</div>
</body>
</html>
