<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap-responsive.min.css"/>
<link rel="stylesheet" type="text/css" href="../../static/style/default.css"/>

<title>Untitled Document</title>
</head>

<body>
                	 <div class="input-prepend">
                        <span class="add-on">项目名称</span>
                        <input  id="inputIcon" type="text" placeholder="请输入项目名称" />
                    </div>
                    
                    <div class="input-prepend">
                        <span class="add-on">项目名称</span>
                        <input  id="inputIcon" type="text" placeholder="请输入项目名称" />
                    </div>
                   	<div class="pull-right">
                    	<button class="btn btn-primary">查询</button>
                    </div>
                
 <table class="table table-bordered">
                        <thead class="table_title">
                            <th>项目名称</th>
                            <th>是否</th>
                            <th>产品类型</th>
                            <th>楼栋</th>
                            <th>单元</th>
                            <th>房号</th>
                            <th>客户姓名</th>
                            <th>面积</th>
                            <th>标准总价</th>
                            <th>成交总价</th>
                            <th>付款方式</th>
                            <th>认购日期</th>
                            <th>客户区域</th>
                            <th>客户房屋套数</th>
                            <th>贷款客户分类</th>
                            <th>缴款日期</th>
                            <th>销售员</th>
                            <th>销售组</th>
                            <th>客户电话</th>
                            <th>网签时间</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>金色二期</td>
                                <td>是</td>
                                <td>住宅-高层</td>
                                <td>J栋</td>
                                <td>3</td>
                                <td>3333</td>
                                <td>李XX</td>
                                <td>98</td>
                                <td>940000</td>
                                <td>890000</td>
                                <td>商贷</td>
                                <td>2012/1/1</td>
                                <td>省外</td>
                                <td>首套</td>
                                <td>一次性款齐</td>
                                <td>2013/1/1</td>
                                <td>张XX</td>
                                <td>王XX</td>
                                <td>13123412341</td>
                                <td>2013/3/1</td>
                            </tr> 
                             <tr>
                                <td>金色二期</td>
                                <td>是</td>
                                <td>住宅-高层</td>
                                <td>J栋</td>
                                <td>3</td>
                                <td>3333</td>
                                <td>李XX</td>
                                <td>98</td>
                                <td>940000</td>
                                <td>890000</td>
                                <td>商贷</td>
                                <td>2012/1/1</td>
                                <td>省外</td>
                                <td>首套</td>
                                <td>一次性款齐</td>
                                <td>2013/1/1</td>
                                <td>张XX</td>
                                <td>王XX</td>
                                <td>13123412341</td>
                                <td>2013/3/1</td>
                            </tr> 
                             <tr>
                                <td>金色二期</td>
                                <td>是</td>
                                <td>住宅-高层</td>
                                <td>J栋</td>
                                <td>3</td>
                                <td>3333</td>
                                <td>李XX</td>
                                <td>98</td>
                                <td>940000</td>
                                <td>890000</td>
                                <td>商贷</td>
                                <td>2012/1/1</td>
                                <td>省外</td>
                                <td>首套</td>
                                <td>一次性款齐</td>
                                <td>2013/1/1</td>
                                <td>张XX</td>
                                <td>王XX</td>
                                <td>13123412341</td>
                                <td>2013/3/1</td>
                            </tr> 
                             <tr>
                                <td>金色二期</td>
                                <td>是</td>
                                <td>住宅-高层</td>
                                <td>J栋</td>
                                <td>3</td>
                                <td>3333</td>
                                <td>李XX</td>
                                <td>98</td>
                                <td>940000</td>
                                <td>890000</td>
                                <td>商贷</td>
                                <td>2012/1/1</td>
                                <td>省外</td>
                                <td>首套</td>
                                <td>一次性款齐</td>
                                <td>2013/1/1</td>
                                <td>张XX</td>
                                <td>王XX</td>
                                <td>13123412341</td>
                                <td>2013/3/1</td>
                            </tr> 
                             <tr>
                                <td>金色二期</td>
                                <td>是</td>
                                <td>住宅-高层</td>
                                <td>J栋</td>
                                <td>3</td>
                                <td>3333</td>
                                <td>李XX</td>
                                <td>98</td>
                                <td>940000</td>
                                <td>890000</td>
                                <td>商贷</td>
                                <td>2012/1/1</td>
                                <td>省外</td>
                                <td>首套</td>
                                <td>一次性款齐</td>
                                <td>2013/1/1</td>
                                <td>张XX</td>
                                <td>王XX</td>
                                <td>13123412341</td>
                                <td>2013/3/1</td>
                            </tr> 
                             <tr>
                                <td>金色二期</td>
                                <td>是</td>
                                <td>住宅-高层</td>
                                <td>J栋</td>
                                <td>3</td>
                                <td>3333</td>
                                <td>李XX</td>
                                <td>98</td>
                                <td>940000</td>
                                <td>890000</td>
                                <td>商贷</td>
                                <td>2012/1/1</td>
                                <td>省外</td>
                                <td>首套</td>
                                <td>一次性款齐</td>
                                <td>2013/1/1</td>
                                <td>张XX</td>
                                <td>王XX</td>
                                <td>13123412341</td>
                                <td>2013/3/1</td>
                            </tr>                       
                        </tbody>
                    </table>
</body>
</html>
