<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap-responsive.min.css"/>
<link rel="stylesheet" type="text/css" href="../../static/style/default.css"/>

<title>Untitled Document</title>
</head>

                
 <table class="table table-bordered">
                        <thead class="table_title">
                            <th>楼盘名称</th>
                            <th>占地面积</th>
                            <th>楼栋总数</th>
                            <th>房屋总数</th>
                            <th>入住数</th>
                            
                        </thead>
                        <tbody>
                            <tr>
                                <td>金色城市</td>
                                <td>100</td>
                                <td>34</td>
                                <td>1000</td>
                                <td>800</td>
                                
                            </tr> 
                              <tr>
                                <td>金色城市1</td>
                                <td>100</td>
                                <td>34</td>
                                <td>1000</td>
                                <td>800</td>
                                
                            </tr>   
                             <tr>
                                <td>金色城市2</td>
                                <td>100</td>
                                <td>34</td>
                                <td>1000</td>
                                <td>800</td>
                                
                            </tr>    
                             <tr>
                                <td>金色城市3</td>
                                <td>100</td>
                                <td>34</td>
                                <td>1000</td>
                                <td>800</td>
                                
                            </tr>                   
                        </tbody>
                    </table>
</body>
</html>
